<template>
    <div class="myfav">
        <h1>My Favourites</h1>
        <h2>Flight</h2>
        <b-table hover :items="myfav_flight"></b-table>
        <h2>Aircraft</h2>
        <b-table hover :items="myfav_aircraft"></b-table>
    </div>
</template>

<script>
export default {
    data() {
        return {
            myfav_flight: [
                { age: 40, first_name: 'Dickerson', last_name: 'Macdonald', action:'' },
                { age: 21, first_name: 'Larsen', last_name: 'Shaw' },
                { age: 89, first_name: 'Geneva', last_name: 'Wilson' },
                { age: 38, first_name: 'Jami', last_name: 'Carney' }
            ],
            myfav_aircraft: [
                { age: 40, first_name: 'Dickerson', last_name: 'Macdonald', action:'' },
                { age: 21, first_name: 'Larsen', last_name: 'Shaw' },
                { age: 89, first_name: 'Geneva', last_name: 'Wilson' },
                { age: 38, first_name: 'Jami', last_name: 'Carney' }
            ],
            show: true,
        };
  },
}
</script>
